{% extends 'layouts/base.html.twig' %}

{% block title %}Account settings{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <h1>Account settings</h1>
            </div>
        </div>
        <div class="row my-2">
            <div class="col">
                <h2>User information</h2>
                <p>
                    Firstname : {{ app.user.firstname }}
                </p>
                <p>
                    Lastname : {{ app.user.lastname }}
                </p>
                <p>
                    E-mail : {{ app.user.email }}
                </p>
                <a href="#" class="btn btn-light">
                    <i class="bi bi-pen me-2"></i>Edit
                </a>
                <a href="#" class="btn btn-light">
                    <i class="bi bi-shield-lock me-2"></i>Change password
                </a>
            </div>
        </div>
    </div>
{% endblock %}
